body {
  margin:0;
  padding: 0;
  box-sizing:border-box;
  width: 100%;
  height: 100%;
  background-image: linear-gradient( 69.5deg,  rgba(1,179,201,1) 2.7%, rgba(255,199,89,1) 97.2% );
  /* background:linear-gradient(to right,yellow, red); */

}

h2,input {
  text-align: center;
  border-radius: 5px;
  height: 30px;
}

h2 {
  color: rgba(20, 0, 255, 0.5);
  margin-bottom: 80px;
}

h3 {
  color:white;
}

#currentSem {
  margin: 0 auto;
  left: 1vw;
}

form {

  background-image: linear-gradient( 69.5deg,  rgba(1,179,201,1) 2.7%, rgba(255,199,89,1) 97.2% );

  display:grid;
  /* grid-template-columns: 1fr; */
  grid-template-columns: repeat(auto-fill, minmax(1fr,1fr));
  justify-items: center;
  justify-content: center;
  grid-gap:25px;
  padding: 30px;
  padding-bottom: 350px;
  overflow: hidden;
  margin: 10px;
  border-top: 1px solid  rgba(0,0,0,0.25) ;
  border-left: 1px solid rgba(0,0,0,0.25);
  border-radius: 10px;
  box-shadow: 10px 10px 20px -5px rgba(0,0,0,0.25);

}

label {
  border: 2px solid rgba(0,0,0,0.1);
  border-radius: 5px;
  color:rgba(255,199,89,1);
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin-bottom: 2px;
}

.result {
  height: auto;
  width: 50%;
  margin-left: 25%;
  margin-top: -300px;
  color: lightblue;
  background-image: linear-gradient( 69.5deg,  rgba(1,179,201,1) 2.7%, rgba(255,199,89,1) 97.2% );
  border: 1px solid lightblue;
  border-top: 1px solid  rgba(0,0,0,0.25) ;
  border-left: 1px solid rgba(0,0,0,0.25);
  border-radius: 10px;
  box-shadow: inset 10px 10px 5px -5px rgba(0,0,0,0.25);

  display: flex;
  justify-content: center;
  text-align: center;
}

.result span {
  font-size: 40px;
  color: green;
  margin: auto 10px;
}

/* button css */

.buttonContainer{
  height: auto;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

button {
  position: relative;
  width: 300px;
  height: 60px;
  border-radius: 10px;
  outline: none;
  background-color: #DEC467;
  opacity: 0.85;
  font-size: 25px;
  /* color: #4FB9A6; */
  color: white;
  margin-right: 5px;



}

.buttonContainer button:first-child:hover,
.buttonContainer button:last-child:hover {
cursor: pointer;
box-shadow: 5px 5px 15px -7px #444;
background-color: #4FB9A6;
color: #F4C65E;
text-shadow: 0 0 3px red, 0 0 5px blue;
font-family: monospace;

}

.buttonContainer .reset {
  width: 160px;
  margin-left: 10px;
}


img{
  position:relative;
  width: 30px;
  height: 30px;
  margin-left: -36px;
  top:13px;
  border: 1px solid green;
  border-radius: 6px;
  background-color:  cursor: pointer;
  font-size: 0.80rem;
  background-image: linear-gradient( 69.5deg,  rgba(1,179,201,1) 2.7%, rgba(255,199,89,1) 97.2% );
  opacity: 1;

}

img:hover{
  cursor: pointer;
  border-radius: 6px;
  opacity: 1;
}

.focus{
  opacity: 1;
}

.nofocus{
  opacity: 0.6;
}



 @media only screen
  and (max-device-width: 430px) {
    h2 {
      margin-top: 3px;
    }
  }

/*
 @media only screen
  and (max-device-width: 410px) {
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(106px, 1fr));

  } */
