body {
  margin:0;
  padding: 0;
  box-sizing:border-box;
  width: 100%;
  height: 100%;
  background-color: rgba(1,179,201,1);
  /* background-image: linear-gradient( 69.5deg,  rgba(1,179,201,1) 2.7%, rgba(255,199,89,1) 97.2% ); */
  background: linear-gradient(to right,rgb(70, 215, 227,0.9), rgb(199, 211, 70,0.7));
}

h2,input {
  text-align: center;
  border-radius: 5px;
  height: 30px;
}

h2 {
  color: rgba(20, 0, 255, 0.5);
  margin-bottom: 80px;
}

h3 {
  color:white;
}

/* #currentSem {
  margin: 0 auto;
  left: 1vw;
} */

form {

  background-image: linear-gradient( 69.5deg,  rgba(1,179,201,1) 2.7%, rgba(255,199,89,1) 97.2% );

  display:grid;
  /* grid-template-columns: 1fr; */
  grid-template-columns: repeat(auto-fill, minmax(1fr,1fr));
  justify-items: center;
  justify-content: center;
  grid-gap:25px;
  padding: 30px;
  padding-bottom: 50px;
  overflow: hidden;
  margin: 10px;
  border-top: 1px solid  rgba(0,0,0,0.25) ;
  border-left: 1px solid rgba(0,0,0,0.25);
  border-radius: 10px;
  box-shadow: 10px 10px 20px -2px rgba(0,0,0,0.25);

}

#semesters {
  width: 150px;
  height: 50px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 25px;
  color: #444;
}

#semesters option {
  background-color: rgba(255,199,89,0.7);
}

label {
  border: 2px solid rgba(0,0,0,0.1);
  border-radius: 5px;
  color:rgba(255,199,89,1);
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin-bottom: 2px;
}

.result {
  height: auto;
  width: 50%;
  color: lightblue;
  background-image: linear-gradient( 69.5deg,  rgba(1,179,201,1) 2.7%, rgba(255,199,89,1) 97.2% );
  border: 1px solid lightblue;
  border-top: 1px solid  rgba(0,0,0,0.25) ;
  border-left: 1px solid rgba(0,0,0,0.25);
  border-radius: 10px;
  box-shadow: inset 10px 10px 5px -5px rgba(0,0,0,0.25);

  display: flex;
  justify-content: center;
  text-align: center;
}

h4 {
  font-family: 'Lobster', cursive;
  letter-spacing: 1.5rem;
  color: #c0392b;
  opacity: 0.8;
}

h3,select,option,button {
  font-family: 'Livvic', sans-serif;
}

.result span {
  font-size: 40px;
  color: green;
  margin: auto 10px;
}

/* button css */

.buttonContainer{
  height: auto;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

button {
  position: relative;
  width: 200px;
  height: 60px;
  border-radius: 10px;
  outline: none;
  background-color: #DEC467;
  opacity: 0.85;
  font-size: 25px;
  color: white;
  margin-right: 15px;
}


.buttonContainer button:first-child:hover,
.buttonContainer button:last-child:hover {
cursor: pointer;
box-shadow: 5px 5px 15px -7px #444;
background-color: #4FB9A6;
color: #F4C65E;
text-shadow: 0 0 3px red, 0 0 5px blue;

}

.buttonContainer .resetButton {
  width: 160px;
  margin-left: 10px;
  margin-right: 0px;
}


img{
  position:relative;
  width: 30px;
  height: 30px;
  margin-left: -36px;
  top:13px;
  border: 1px solid green;
  border-radius: 6px;
  background-color:  cursor: pointer;
  font-size: 0.80rem;
  background-image: linear-gradient( 69.5deg,  rgba(1,179,201,1) 2.7%, rgba(255,199,89,1) 97.2% );
  opacity: 1;

}

img:hover{
  cursor: pointer;
  border-radius: 6px;
  opacity: 1;
}

nav {
  display: flex;
  width: 100%;
  overflow: hidden;
  background-image: linear-gradient( 69.5deg,  rgba(1,179,201,0.5) 2.7%, rgba(255,199,89,0.5) 97.2% );
  font-family: 'Chilanka', cursive;
}

nav ul {
  margin-top: 1px;
}

nav div img {
  width: 150px;
  height: 80px;
  background: none;
  top:0;
  border: none;
}

nav a {
  text-decoration: none;
}

nav ul::before {
  content: '';
  display: table;
  width: 0%;
  height: 4px;
  background-image: linear-gradient( 109.6deg,  rgba(255,179,71,1) 11.2%, rgba(255,155,57,1) 91.1% );
  transition: all ease-in-out 250ms;
  margin-bottom: 25px;
  border-radius: 5px;
}

nav ul:hover::before {
  width: 100%;
}

nav .calculatorName {
  margin-left: auto;
}

nav img:hover{
  cursor: none;
}
nav ul:last-child {
  margin-left: auto;
  margin-right: 40px;
}


#helpImage {
  position: relative;
  display: flex;
  justify-content: center;
}

h4 {
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  border: 3px solid #c0392b;
  border-top:none;
  border-radius: 5px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 40px;
  margin-bottom: 0;
}

#helpImage img {
  width: auto;
  height: 100%;
}

 @media only screen
  and (max-device-width: 430px) {
    h2 {
      margin-top: 3px;
    }

    .labelsAndForms input {
      margin-left: 13%;
    }

    button {
      position: relative;
      width: 130px;
      font-size: 1.1rem;
    }

    nav {
      text-align: center;
      font-size: 0.8rem;
    }

    .calculatorName {
      position: relative;
      padding-left: 0;
    }

    nav ul:last-child {
      margin-right: 40px;
      padding-left: 20px;
    }

    .help {
      padding-left: 20px;
    }

    #helpImage img{
      width: 330px;
      margin-left: 5px;
    }

  }

.particles-js-canvas-el {
  position: fixed;
  z-index: -1;
  top:0;
}
